.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;

  &.dragging {
    cursor: grabbing;
  }

  &.pan-enabled {
    cursor: grab;
  }
}

.canvasContent {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transition: transform 0.1s ease-out;

  &.dragging {
    transition: none;
  }
}

.canvas {
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
}
