.link-anim {
  stroke: $light-border;
  stroke-width: 2;
  marker-end: url(#arrowhead);
}

.link {
  stroke: $light-border;
  stroke-width: 2;
  marker-end: url(#arrowhead);
}

#arrowhead {
  fill: $light-border;
}