bcrypt==4.0.1
docker==7.1.0
flask==3.0.3
flask-cors==6.0.1
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
Flask-Mailman==1.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
psycopg2-binary==2.9.7
python-dotenv==1.2.2
pyjwt==2.8.0