.knowledgeStationDialog {
  :global(.dialog-content) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
}

.knowledgeStation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  :global(.tabs) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  :global(.tab-content) {
    flex: 1;
    overflow-y: auto;
    padding: $spacing-xl;
  }
}
